@use '../variables' as *;
@use '../mixins' as *;

.contact {
    width: 100%;
    height: 100vh;
    padding: 7% 5% 7% 5%;
    @include flex_r(center, center);

    .cta {
        box-shadow: $sun-glow;
        width: 40%;
        height: 100%;
        position: relative;
        border-radius: 2rem;
        background-color: rgba(31, 31, 30, 0.6);
        backdrop-filter: blur(calc(.25vh + .25vw));
        padding: 0 1% 0 1%;

        img {
            position: absolute;
            width: 60%;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 50%;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: sepia(0.6);
        }

        .header {
            width: 100%;
            position: relative;
            top: 85%;
            transform: translateY(-50%);
            text-align: center;
            padding: 0 .75rem 0 .75rem;

            h2 {
                font-size: calc(2.25vw + 1vh);
                color: $primary-color;
                text-shadow: $sun-glow;
                padding-bottom: .25rem;
            }

            p {
                color: $secondary-color;
                font-size: calc(0.75vw + 0.5vh);
            }
        }
    }

    form {
        width: 60%;
        height: 100%;
        @include flex_c(space-evenly, center);

        h3 {
            font-size: calc(1.5vw + 0.75vh);
            color: $primary-color;
            text-align: left;
            width: 70%;
            padding-bottom: .75rem;
            text-shadow: $sun-glow;
        }

        input {
            border: none;
            background-color: rgba(31, 31, 30, 0.6);
            backdrop-filter: blur(calc(.25vh + .25vw));
            width: 70%;
            height: 15%;
            border-radius: 1rem;
            padding: 0 .5rem 0 .75rem;
            color: $secondary-color;
            font-size: calc(1vw + 0.75vh);
            box-shadow: $weak-sun-glow;

            &::placeholder {
                font-family: $body-font;
                text-align: left;
                font-size: calc(1vw + 0.75vh);
                color: $secondary-color;
                opacity: .75;
                font-weight: 600;
            }

            &:focus {
                outline: none;
            }
        }

        textarea {
            border: none;
            background-color: rgba(31, 31, 30, 0.6);
            backdrop-filter: blur(calc(.25vh + .25vw));
            width: 70%;
            height: 25%;
            border-radius: 1rem;
            padding: .75rem .5rem .75rem .75rem;
            box-shadow: $weak-sun-glow;
            color: $secondary-color;
            font-size: calc(1vw + 0.75vh);

            &::placeholder {
                font-family: $body-font;
                text-align: left;
                font-size: calc(1vw + 0.75vh);
                color: $secondary-color;
                opacity: .75;
                font-weight: 600;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            border: none;
            background-color: $primary-color;
            font-size: calc(1.25vw + 0.75vh);
            border-radius: 1rem;
            color: $bg-color;
            width: 70%;
            height: 15%;
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
            transition: 300ms ease-in;

            &:hover {
                background-color: $secondary-bg-color;
                color: $primary-color;
                text-shadow: $sun-glow;
            }
        }
    }

    @include max-aspect(5/3) {
        .cta {
            .header {
                top: 75%;
            }
        }

        form {
            input {
                height: 10%;
            }

            textarea {
                height: 20%;
            }
        }
    }

    @include max-aspect(17/12) {
        padding: 12% 5% 12% 5%;
    }

    @include max-aspect(15/12) {
        padding: 18% 3% 18% 3%;

        .cta {
            width: 45%;

            img {
                top: 38%;
                width: 52%;
            }
        }

        form {
            width: 55%;

            input {
                border-radius: 0.75rem;
            }

            textarea {
                border-radius: 0.75rem;
            }

            button {
                border-radius: 0.75rem;
            }
        }
    }

    @include max-aspect(13/12) {
        .cta {
            img {
                width: 65%;
            }

            .header {
                top: 75%;
            }
        }
    }

    @include portrait {
        padding: 10% 5% 5% 5%;
        @include flex_c(space-evenly, flex-start);

        .cta {
            width: 100%;
            height: 35vw;
            padding: 0 2% 0 0;

            img {
                width: auto;
                height: 80%;
                top: 50%;
                left: 5%;
                transform: translate(0, -50%);
            }

            .header {
                text-align: left;
                top: 50%;
                width: 60%;
                left: 40%;

                h2 {
                    font-size: calc(2.5vw + 1.5vh);
                }

                p {
                    font-size: calc(1vw + 0.75vh);
                }
            }
        }

        form {
            width: 60%;
            height: 50%;
            justify-content: space-between;

            h3 {
                width: 100%;
            }

            input {
                width: 100%;
                height: 15%;
            }

            textarea {
                width: 100%;
                height: 25%;
            }

            button {
                width: 100%;
                height: 15%;
            }
        }

        @include max-aspect(10/12) {
            form {
                width: 70%;

                h3 {
                    font-size: calc(2vw + 1vh);
                }
            }
        }

        @include max-aspect(8/12) {
            .cta {
                img {
                    height: 85%;
                }

                .header {

                    h2 {
                        font-size: calc(2vw + 1.25vh);
                    }

                    p {
                        font-size: calc(1vw + 0.5vh);
                    }
                }
            }

            form {
                width: 80%;

                input {
                    height: 12.5%;
                    font-size: calc(1.25vw + 1vh);

                    &::placeholder {
                        font-size: calc(1.25vw + 1vh);
                    }
                }

                textarea {
                    height: 21%;
                    font-size: calc(1.25vw + 1vh);

                    &::placeholder {
                        font-size: calc(1.25vw + 1vh);
                    }
                }

                button {
                    height: 12.5%;
                    font-size: calc(1.5vw + 1vh);
                }
            }
        }

        @include max-aspect(1/2) {
            padding: 15% 4% 3% 4%;

            .cta {
                height: 80vw;
                padding: 0 2% 0 2%;

                img {
                    top: 5%;
                    left: 50%;
                    width: 50%;
                    height: auto;
                    transform: translate(-50%, 0);
                }

                .header {
                    width: 100%;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    h2 {
                        font-size: calc(2.5vw + 1.5vh);
                    }

                    p {
                        font-size: calc(1.25vw + 0.75vh);
                    }
                }
            }

            form {
                width: 100%;
                height: 40%;

                input {
                    height: 14%;
                }

                textarea {
                    height: 23%
                }

                button {
                    height: 14%;
                }
            }
        }
    }

    @include min-aspect(2/1) {
        .cta {
            img {
                top: 37%;
                width: 50%;
            }
        }

        form {
            justify-content: space-between;
        }
    }

    @include min-aspect(32/13) {
        .cta {
            width: 50%;
            height: 17vw;

            img {
                top: 50%;
                left: 5%;
                transform: translate(0, -50%);
                width: auto;
                height: 80%;
            }

            .header {
                text-align: left;
                width: 60%;
                left: 100%;
                transform: translate(-100%, -50%);
                top: 50%;

                h2 {
                    font-size: calc(2vw + 1vh);
                }
            }
        }

        form {
            width: 50%;

            h3 {
                font-size: calc(1.25vw + 0.75vh);
            }

            input {
                height: 12.5%;
                font-size: calc(0.75vw + 0.75vh);

                &::placeholder {
                    font-size: calc(0.75vw + 0.75vh);
                }
            }

            textarea {
                height: 20%;
                font-size: calc(0.75vw + 0.75vh);

                &::placeholder {
                    font-size: calc(0.75vw + 0.75vh);
                }
            }

            button {
                height: 12.5%;
                font-size: calc(1vw + 0.75vh);
            }
        }
    }

    @include min-aspect(32/11) {
        padding: 5% 10% 5% 2.5%;

        form {
            width: 40%;

            h3 {
                font-size: calc(1vw + 0.75vh);
            }
        }
    }
}