@use '../variables' as *;
@use '../mixins' as *;
@use '../animations' as *;

.home {

    height: 100vh;
    width: 100%;
    padding-top: 5vh;
    position: relative;

    .titles {
        width: max-content;
        position: absolute;
        top: 10%;
        left: 50%;
        @include flex_c(center, flex-start);
    }

    h1 {
        font-size: 7vw;
        color: $primary-color;
        line-break: unset;
        text-align: left;
        letter-spacing: .3rem;
        -moz-user-select: none;
        user-select: none;
        text-shadow: $sun-glow;
        animation: opacity 2s ease-out forwards;
    }

    h2 {
        font-size: 3.5vw;
        width: 100%;
        text-align: left;
        color: $secondary-color;
        -moz-user-select: none;
        user-select: none;
        border-right: 4px solid;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(19),
            cursor .4s step-end infinite alternate;
    }

    .description {
        position: absolute;
        width: 25%;
        top: 50%;
        left: 4%;
        @include flex_c(flex-start, flex-start);
        gap: 0.75vw 0;
        animation: from-top 1.5s ease-out;
    }

    p {
        font-size: 1.65vw;
        font-style: italic;
        color: $secondary-color;
        text-align: left;
        user-select: none;
        -moz-user-select: none;
    }

    button {
        font-size: 1.65vw;
        background-color: $primary-color;
        padding: .7vw 1.25vw .7vw 1.25vw;
        border-radius: 0.8vw;
        color: $bg-color;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: 300ms ease-in;

        &:hover {
            background-color: $secondary-bg-color;
            color: $primary-color;
            text-shadow: $sun-glow;
        }
    }

    .links {
        position: absolute;
        right: 4%;
        top: 50%;
        @include flex-c(center, center);
        gap: 0.9vw 0;

        svg {
            width: calc(6vh + 20px);
            height: calc(6vh + 20px);

            cursor: pointer;
            transition: 300ms ease-out;

            &:hover {
                transform: scale(1.1);
            }

            animation: opacity 2s ease-out forwards;
        }
    }

    // RESPONSIVENESS

    @include portrait {

        .description {
            bottom: 2vh;
            width: 35%;
            top: auto;
            gap: 1vh;
            left: 3%;
        }

        p {
            font-size: calc(1vh + 1vw);
        }

        button {
            font-size: calc(1.25vh + 1.25vw);
            padding: .7vh 1.25vh .7vh 1.25vh;
        }

        .links {
            gap: 1vh 0;
            right: auto;
            left: 3%;
        }
    }

    @include media($lg) {
        h1 {
            font-size: 6.5vw;
        }

        .links {
            svg {
                width: calc(4vh + 20px);
                height: calc(4vh + 20px);
            }
        }
    }

    @include media($mmd) {

        .titles {
            top: 20%;
        }

        h1 {
            font-size: 6vw;
        }

        .description {
            left: 6%;
        }

        @include portrait {
            .links {
                left: 6%;
            }
        }
    }

    @include media ($ssm) {
        .titles {
            width: 95%;
        }

        h1 {
            line-break: auto;
            font-size: 7vw;
        }

        .description {
            width: 45%;
            left: 3%;
        }

        .links {
            svg {
                width: calc(4vh + 15px);
                height: calc(4vh + 15px);
            }
        }

        @include portrait {
            .links {
                left: 3%;
            }
        }
    }

    @include min-aspect($ultra-wide) {
        .titles {
            width: 95%;
            top: 15%;
        }

        h1 {
            font-size: 4.5vw;
        }

        .description {
            bottom: 3%;
            width: 35%;
            top: auto;
            gap: 1vh;
            left: 3%;
        }

        p {
            font-size: 1.5vw;
        }

        button {
            font-size: 1.5vw;
        }

        .links {
            right: auto;
            left: 3%;
            @include flex_r(center, center);
            gap: 0 1vw;
            top: 3vh;
        }
    }
}