@use '../variables' as *;
@use '../mixins' as *;

.main {
    width: 100vw;
    height: auto;
    position: relative;
    background-color: $bg-color;
    background-image: url("images/stars.jpg");
    background-size: cover;

    video {
        position: fixed;
        z-index: 10;
        pointer-events: none;
        mix-blend-mode: screen;
        object-fit: contain;
    }
}