@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.navbar {
  width: 40vw;
  background-color: #2b2a29;
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 4rem 4rem;
  top: 0;
  height: 6.5vh;
}
.navbar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar li {
  color: #f2e7d5;
  font-family: "Nunito", sans-serif;
  font-size: 1.1vw;
}

.home {
  height: 100vh;
  width: 100%;
  padding-top: 5vh;
  position: relative;
}
.home .titles {
  width: max-content;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home h1 {
  font-size: 7vw;
  color: #f2e7d5;
  line-break: unset;
  text-align: left;
  letter-spacing: 0.3rem;
  -moz-user-select: none;
  user-select: none;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 223, 186, 0.7), 0 0 45px rgba(255, 165, 0, 0.5), 0 0 75px rgba(255, 69, 0, 0.3);
}
.home h2 {
  font-size: 3.5vw;
  text-align: left;
  color: #a8a194;
  -moz-user-select: none;
  user-select: none;
}
.home .description {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75vw 0;
}
.home p {
  font-size: 1.65vw;
  font-style: italic;
  color: #a8a194;
  text-align: left;
}
.home button {
  font-size: 1.65vw;
  background-color: #f2e7d5;
  padding: 0.7vw 1.25vw 0.7vw 1.25vw;
  border-radius: 0.8vw;
  color: #101010;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
}

p,
q,
button,
span {
  font-family: "Nunito", sans-serif;
}

.main {
  width: 100vw;
  position: relative;
}
.main video {
  transform: scale(1.3) translateY(-50%);
  width: 100%;
  position: fixed;
  top: 115%;
  left: 0%;
  z-index: -1;
  mix-blend-mode: screen;
  object-fit: contain;
  filter: blur(0.25vw);
}
