@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.main {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #000000;
  background-image: url("images/stars.jpg");
  background-size: cover;
}
.main video {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: screen;
  object-fit: contain;
}

@keyframes opacity {
  0% {
    opacity: 0;
    filter: brightness(0);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes from-top {
  0% {
    transform: translateY(-20%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu {
  width: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 3;
  transition: all ease-out 500ms;
}
@media (orientation: portrait) and (max-width: 1024px) {
  .menu {
    transform: translate(0, 0);
    right: 0;
    left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .menu.off {
    transform: translateX(50%);
  }
}

.navbar {
  width: 40vw;
  background-color: rgba(42, 42, 41, 0.6);
  backdrop-filter: blur(calc(5vh + 5vw));
  border-radius: 0 0 4rem 4rem;
  height: calc(2rem + 4vh);
  transition: all ease-out 500ms;
}
.navbar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar li {
  color: #f2e7d5;
  font-family: "Nunito", sans-serif;
  font-size: 1.1vw;
  transition: ease-in 300ms;
  cursor: pointer;
}
.navbar li:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 223, 186, 0.7), 0 0 45px rgba(255, 165, 0, 0.5), 0 0 75px rgba(255, 69, 0, 0.3);
}
@media (orientation: portrait) {
  .navbar {
    width: 60vw;
    border-radius: 0 0 6rem 6rem;
  }
  .navbar li {
    font-size: 1.6vw;
  }
}
@media (orientation: portrait) and (max-width: 1024px) {
  .navbar {
    width: auto;
    height: auto;
    padding: 2rem 1rem 2rem 1.25rem;
    border-radius: 0 0 0 3rem;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.75rem 0;
  }
  .navbar li {
    font-size: 1.2rem;
  }
  .navbar.off {
    visibility: hidden;
    opacity: 0;
  }
}
@media (orientation: portrait) and (max-width: 768px) {
  .navbar li {
    font-size: 0.9rem;
  }
}

.menu-icon {
  display: none;
  position: relative;
  top: 1.5rem;
  right: 0.75rem;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  animation: opacity 2s ease-out;
}
.menu-icon .bar {
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.menu-icon.is-open .bar-middle {
  opacity: 0;
}
.menu-icon.is-open .bar-top {
  transform: translate(-15px, 20px) rotate(45deg);
}
.menu-icon.is-open .bar-bottom {
  transform: translate(-15px, -20px) rotate(-45deg);
}
@media (orientation: portrait) and (max-width: 1024px) {
  .menu-icon {
    display: block;
  }
}

.home {
  height: 100vh;
  width: 100%;
  padding-top: 5vh;
  position: relative;
}
.home .titles {
  width: max-content;
  position: absolute;
  top: 10%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home h1 {
  font-size: 7vw;
  color: #f2e7d5;
  line-break: unset;
  text-align: left;
  letter-spacing: 0.3rem;
  -moz-user-select: none;
  user-select: none;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 223, 186, 0.7), 0 0 45px rgba(255, 165, 0, 0.5), 0 0 75px rgba(255, 69, 0, 0.3);
  animation: opacity 2s ease-out forwards;
}
.home h2 {
  font-size: 3.5vw;
  width: 100%;
  text-align: left;
  color: #a8a194;
  -moz-user-select: none;
  user-select: none;
  border-right: 4px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19), cursor 0.4s step-end infinite alternate;
}
.home .description {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75vw 0;
  animation: from-top 1.5s ease-out;
}
.home p {
  font-size: 1.65vw;
  font-style: italic;
  color: #a8a194;
  text-align: left;
  user-select: none;
  -moz-user-select: none;
}
.home button {
  font-size: 1.65vw;
  background-color: #f2e7d5;
  padding: 0.7vw 1.25vw 0.7vw 1.25vw;
  border-radius: 0.8vw;
  color: #000000;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms ease-in;
}
.home button:hover {
  background-color: #2b2a29;
  color: #f2e7d5;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 223, 186, 0.7), 0 0 45px rgba(255, 165, 0, 0.5), 0 0 75px rgba(255, 69, 0, 0.3);
}
.home .links {
  position: absolute;
  right: 4%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9vw 0;
}
.home .links svg {
  width: calc(6vh + 20px);
  height: calc(6vh + 20px);
  cursor: pointer;
  transition: 300ms ease-out;
  animation: opacity 2s ease-out forwards;
}
.home .links svg:hover {
  transform: scale(1.1);
}
@media (orientation: portrait) {
  .home .description {
    bottom: 2vh;
    width: 35%;
    top: auto;
    gap: 1vh;
    left: 3%;
  }
  .home p {
    font-size: calc(1vh + 1vw);
  }
  .home button {
    font-size: calc(1.25vh + 1.25vw);
    padding: 0.7vh 1.25vh 0.7vh 1.25vh;
  }
  .home .links {
    gap: 1vh 0;
    right: auto;
    left: 3%;
  }
}
@media (max-width: 1024px) {
  .home h1 {
    font-size: 6.5vw;
  }
  .home .links svg {
    width: calc(4vh + 20px);
    height: calc(4vh + 20px);
  }
}
@media (max-width: 867px) {
  .home .titles {
    top: 20%;
  }
  .home h1 {
    font-size: 6vw;
  }
  .home .description {
    left: 6%;
  }
}
@media (max-width: 867px) and (orientation: portrait) {
  .home .links {
    left: 6%;
  }
}
@media (max-width: 470px) {
  .home .titles {
    width: 95%;
  }
  .home h1 {
    line-break: auto;
    font-size: 7vw;
  }
  .home .description {
    width: 45%;
    left: 3%;
  }
  .home .links svg {
    width: calc(4vh + 15px);
    height: calc(4vh + 15px);
  }
}
@media (max-width: 470px) and (orientation: portrait) {
  .home .links {
    left: 3%;
  }
}
@media (min-aspect-ratio: 2.3333333333) {
  .home .titles {
    width: 95%;
    top: 15%;
  }
  .home h1 {
    font-size: 4.5vw;
  }
  .home .description {
    bottom: 3%;
    width: 35%;
    top: auto;
    gap: 1vh;
    left: 3%;
  }
  .home p {
    font-size: 1.5vw;
  }
  .home button {
    font-size: 1.5vw;
  }
  .home .links {
    right: auto;
    left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 1vw;
    top: 3vh;
  }
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  border: solid green 2px;
}
.about div {
  padding-right: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem 0;
}
.about h2 {
  font-size: 5vw;
  color: #f2e7d5;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 223, 186, 0.7), 0 0 45px rgba(255, 165, 0, 0.5), 0 0 75px rgba(255, 69, 0, 0.3);
}
.about p {
  width: 40%;
  color: #a8a194;
  text-align: right;
  font-size: 1.25vw;
}
.about img {
  position: absolute;
  object-fit: contain;
  z-index: -1;
  left: 80%;
  top: 25%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
@media (orientation: portrait) {
  .about div {
    justify-content: flex-start;
    align-items: center;
    padding-right: 0;
    padding-top: 30%;
  }
  .about h2 {
    font-size: calc(3vw + 3vh);
    text-align: center;
  }
  .about p {
    width: 60%;
    font-size: calc(1vh + 0.9vw);
    text-align: center;
  }
  .about img {
    left: 20%;
    top: 10%;
  }
}
@media (max-aspect-ratio: 0.6428571429) {
  .about div {
    gap: 0.5rem 0;
    padding-top: 50%;
  }
  .about h2 {
    font-size: calc(3vw + 4vh);
  }
  .about p {
    width: 85%;
    font-size: calc(1.25vh + 0.5vw);
  }
}

.knowledge {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid blue 2px;
}
.knowledge .frontend {
  width: 25%;
  aspect-ratio: 1;
  border-radius: 100%;
  border: solid red 1px;
}

.projects {
  position: relative;
  width: 100%;
  height: 200vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
}

p,
q,
button,
span {
  font-family: "Nunito", sans-serif;
}
