@mixin flex_c($justify, $align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex_r($justify, $align) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin media($width) {
    @media(max-width: $width) {
        @content;
    }
}

@mixin portrait {
    @media(orientation: portrait) {
        @content;
    }
}