$bg-color: #101010;
$secondary-bg-color: #2b2a29;

$primary-color: #b51d2a;
$secondary-color: #f2e7d5;
$tertiary-color: #a8a194;

$heading-font: "Montserrat Alternates", sans-serif;
$body-font: "Nunito", sans-serif;

$xxl: 1536px;
$xl: 1280px;
$llg: 1135px;
$lg: 1024px;
$mmd: 867px;
$md: 768px;
$sm: 640px;
$ssm: 470px;
$mf: 396px;
$mmf: 320px;